body {
    font-family: "Roboto Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pl-background {
    /*background: #252525;*/
    background: #020106;
}

.pl-page {
    max-width: 1000px;
    margin: 0 auto;
}

.pl-footer {
    padding: 90px 0;
}

.pl-section-separator {
    height: 5px;
}

.pl-section {
    min-height: 120px;
    padding: 120px 0;
}

.pl-section-large {
    padding: 180px 0;
}

.pl-section-colored-1 {
    background: #2a2a3f url("../images/pl-section-1.jpg") 50% 100%;
}

.pl-section-colored-2 {
    background: #3d4450;
}

.pl-section-colored-3 {
    background: #28304b;
}

.pl-section-colored-4  {
    background: #252525;
}

.pl-section-colored-5  {
    background: #392d37;
}

.pl-section-colored-6 {
    background: #020106 url("../images/pl-section-6.jpg") 50% 100%;
}

.pl-panel {
    padding: 0 40px;
}

.pl-font-white {
    color: #f9f9f9!important;
}

.pl-font-light {
    font-weight: 100;
    /*letter-spacing: 1px;*/
    font-family: "Roboto Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pl-font-thin {
    font-weight: 200;
    /*letter-spacing: 1px;*/
    font-family: "Roboto Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pl-image-feature {
    width: 120px;
    height: 120px;
    margin: 50px 0;
    opacity: .6;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, .2);
}

.pl-image-screen {
    width: 700px;
    padding: 20px;
}

a.pl-link {
    color: #8ccde8;
    text-decoration: none;
}

a.pl-link:hover, .pl-link:active, .pl-link:focus {
    color: #8ccde8;
    text-decoration: underline;
}

h1.pl-emphasize, h2.pl-emphasize {
    color: #8ccde8!important;
}

.pl-conseal {
    opacity: .7!important;
}
