body {
    font-family: "Roboto Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pl-background {
    background: #252525;
}

.pl-navbar {
    background: #000;
    text-shadow: none;
}

.pl-navbar-nav>li>a {
    color: #666;
    text-shadow: none;
    background: none;
}

.pl-navbar-nav>li>a:hover, .pl-navbar-nav>li>a:active, .pl-navbar-nav>li>a:focus {
    color: #fff;
    text-shadow: none;
    background: none;
}

.pl-footer {
    padding: 90px 0;
}

.pl-section {
    padding: 120px 0;
}

.pl-section-colored-1 {
    background: #2a2a3f url("../images/bgnd-stars-alt1.jpg") 50% 80% repeat-x;
}

.pl-section-colored-2 {
    background: #4d5271;
}

.pl-section-colored-3 {
    background: #576780;
}

.pl-font-white {
    color: #f9f9f9!important;
}

.pl-font-light {
    font-weight: 100;
    /*letter-spacing: 1px;*/
    font-family: "Roboto Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pl-font-thin {
    font-weight: 200;
    /*letter-spacing: 1px;*/
    font-family: "Roboto Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pl-image-feature {
    width: 90px;
    height: 90px;
    margin: 50px 0;
}

.pl-navbar-brand {
    text-shadow: none;
    text-decoration: none;
    color: #4d7198;
    background:none;
}

.pl-navbar-brand:hover, .pl-navbar-brand:active, .pl-navbar-brand:focus {
    color: #3b83c0;
    text-shadow: none;
    text-decoration: none;
    background: none;
}

a.pl-link {
    color: #8ccde8;
    text-decoration: none;
}

a.pl-link:hover, .pl-link:active, .pl-link:focus {
    color: #8ccde8;
    text-decoration: underline;
}
