@font-face {
    font-family: "Roboto Neue";
    src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Neue";
    src: url('../fonts/roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
